{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "BrokerConnectionString": "Endpoint=...",
    "DatabaseConnectionString": "Server=...",
    "ServiceName": "example-function",
    "DatadogApiKey": "...",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet"
  }

}
